.App {
  text-align: center;
  background-color: #282c34;
  height: 100vmin;
}

.App-header img{
    position:absolute;
    height: 15vmin;
  pointer-events: none;
}

.logo{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15vmin;

}

@media (prefers-reduced-motion: no-preference) {
  .apple-full {
    animation: App-logo-toggle infinite 2s linear;
  }
}

.App-header {
  min-height: 20vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-toggle {
  from {
    visibility:hidden;
 }
50% {
    visibility:hidden;
 }
to {
    visibility:visible;
}
}
