.Snake{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    font-size: calc(8px + 2vmin);
    color: white;
    
}

.game-board{
    position: relative;
    display:block;
    width: 400px;
    height: 400px;
    background-color: black;
  }
  
#canvas{
    border: 2px solid white;
    position: absolute;
    display:block;
}



.btn {
  position:absolute;
  left:150px;
  top:200px;
}